In [1]:
import pandas as pd

In [2]:
mta190504_raw = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_190504.txt")

In [3]:
mta190504_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206857 entries, 0 to 206856
Data columns (total 11 columns):
C/A                                                                     206857 non-null object
UNIT                                                                    206857 non-null object
SCP                                                                     206857 non-null object
STATION                                                                 206857 non-null object
LINENAME                                                                206857 non-null object
DIVISION                                                                206857 non-null object
DATE                                                                    206857 non-null object
TIME                                                                    206857 non-null object
DESC                                                                    206857 non-null object
ENTRIES                                                                 206857 non-null int64
EXITS                                                                   206857 non-null int64
dtypes: int64(2), object(9)
memory usage: 17.4+ MB

In [4]:
#Clean data
mta190504_raw.columns = mta190504_raw.columns.str.strip()

In [5]:
mta190504_raw.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [6]:
#Check dups
mta190504_raw.head(5)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,00:00:00,REGULAR,7035249,2384833
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,04:00:00,REGULAR,7035269,2384840
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,08:00:00,REGULAR,7035292,2384875
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,12:00:00,REGULAR,7035392,2384951
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,16:00:00,REGULAR,7035651,2385020

In [7]:
mta2 = mta190504_raw[["C/A","UNIT","SCP","STATION","LINENAME","DIVISION","DATE","TIME"]]

In [12]:
mta2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206857 entries, 0 to 206856
Data columns (total 8 columns):
C/A         206857 non-null object
UNIT        206857 non-null object
SCP         206857 non-null object
STATION     206857 non-null object
LINENAME    206857 non-null object
DIVISION    206857 non-null object
DATE        206857 non-null object
TIME        206857 non-null object
dtypes: object(8)
memory usage: 12.6+ MB

In [13]:
mta3 = mta2.drop_duplicates()

In [14]:
mta3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206857 entries, 0 to 206856
Data columns (total 8 columns):
C/A         206857 non-null object
UNIT        206857 non-null object
SCP         206857 non-null object
STATION     206857 non-null object
LINENAME    206857 non-null object
DIVISION    206857 non-null object
DATE        206857 non-null object
TIME        206857 non-null object
dtypes: object(8)
memory usage: 14.2+ MB

In [16]:
mta4 = mta190504_raw[["C/A","UNIT","SCP","STATION","LINENAME","DIVISION"]]

In [17]:
mta5 = mta4.drop_duplicates()

In [18]:
mta5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4851 entries, 0 to 206815
Data columns (total 6 columns):
C/A         4851 non-null object
UNIT        4851 non-null object
SCP         4851 non-null object
STATION     4851 non-null object
LINENAME    4851 non-null object
DIVISION    4851 non-null object
dtypes: object(6)
memory usage: 265.3+ KB

In [202]:
mta190504_raw.groupby(["STATION","SCP","LINENAME"]).count()

                                 C/A  UNIT  DIVISION  DATE  TIME  DESC  \
STATION       SCP      LINENAME
1 AV          00-00-00 L          45    45        45    45    45    45
              00-00-01 L          45    45        45    45    45    45
              00-03-00 L          45    45        45    45    45    45
              00-03-01 L          45    45        45    45    45    45
              00-03-02 L          45    45        45    45    45    45
              01-00-00 L          42    42        42    42    42    42
              01-00-01 L          42    42        42    42    42    42
              01-00-02 L          42    42        42    42    42    42
              01-00-03 L          42    42        42    42    42    42
              01-00-04 L          42    42        42    42    42    42
103 ST        00-00-00 1          42    42        42    42    42    42
                       6          43    43        43    43    43    43
                       BC         42    42        42    42    42    42
              00-00-01 1          42    42        42    42    42    42
                       6          43    43        43    43    43    43
                       BC         42    42        42    42    42    42
              00-00-02 1          42    42        42    42    42    42
                       6          43    43        43    43    43    43
                       BC         42    42        42    42    42    42
              00-03-00 1          42    42        42    42    42    42
                       6          43    43        43    43    43    43
              00-03-01 1          42    42        42    42    42    42
                       6          43    43        43    43    43    43
              00-03-02 1          42    42        42    42    42    42
                       6          42    42        42    42    42    42
103 ST-CORONA 00-00-00 7          44    44        44    44    44    44
              00-00-01 7          44    44        44    44    44    44
              00-00-02 7          44    44        44    44    44    44
              00-00-03 7          44    44        44    44    44    44
              00-00-04 7          44    44        44    44    44    44
...                              ...   ...       ...   ...   ...   ...
WTC-CORTLANDT 01-05-01 1          52    52        52    52    52    52
              02-00-00 1          42    42        42    42    42    42
              02-00-01 1          42    42        42    42    42    42
              02-00-02 1          42    42        42    42    42    42
              02-00-03 1          42    42        42    42    42    42
              02-00-04 1          42    42        42    42    42    42
              03-00-00 1          42    42        42    42    42    42
              03-00-01 1          42    42        42    42    42    42
              03-00-02 1          42    42        42    42    42    42
              04-00-00 1          42    42        42    42    42    42
              04-00-01 1          42    42        42    42    42    42
              04-00-02 1          42    42        42    42    42    42
              04-00-03 1          42    42        42    42    42    42
              04-03-00 1          42    42        42    42    42    42
              04-03-01 1          42    42        42    42    42    42
              04-03-02 1          42    42        42    42    42    42
              04-05-00 1          42    42        42    42    42    42
              04-05-01 1          42    42        42    42    42    42
              05-00-00 1          42    42        42    42    42    42
              05-00-01 1          42    42        42    42    42    42
              05-03-00 1          42    42        42    42    42    42
YORK ST       00-00-00 F          42    42        42    42    42    42
              00-00-01 F          42    42        42    42    42    42
              00-00-02 F          42    42        42    42    42    42
ZEREGA AV     00-00-00 6          42    42        42    42    42    42
              00-00-01 6          42    42        42    42    42    42
              00-03-00 6          42    42        42    42    42    42
              00-03-01 6          42    42        42    42    42    42
              00-05-00 6          42    42        42    42    42    42
              00-05-01 6          42    42        42    42    42    42

                                 ENTRIES  EXITS
STATION       SCP      LINENAME
1 AV          00-00-00 L              45     45
              00-00-01 L              45     45
              00-03-00 L              45     45
              00-03-01 L              45     45
              00-03-02 L              45     45
              01-00-00 L              42     42
              01-00-01 L              42     42
              01-00-02 L              42     42
              01-00-03 L              42     42
              01-00-04 L              42     42
103 ST        00-00-00 1              42     42
                       6              43     43
                       BC             42     42
              00-00-01 1              42     42
                       6              43     43
                       BC             42     42
              00-00-02 1              42     42
                       6              43     43
                       BC             42     42
              00-03-00 1              42     42
                       6              43     43
              00-03-01 1              42     42
                       6              43     43
              00-03-02 1              42     42
                       6              42     42
103 ST-CORONA 00-00-00 7              44     44
              00-00-01 7              44     44
              00-00-02 7              44     44
              00-00-03 7              44     44
              00-00-04 7              44     44
...                                  ...    ...
WTC-CORTLANDT 01-05-01 1              52     52
              02-00-00 1              42     42
              02-00-01 1              42     42
              02-00-02 1              42     42
              02-00-03 1              42     42
              02-00-04 1              42     42
              03-00-00 1              42     42
              03-00-01 1              42     42
              03-00-02 1              42     42
              04-00-00 1              42     42
              04-00-01 1              42     42
              04-00-02 1              42     42
              04-00-03 1              42     42
              04-03-00 1              42     42
              04-03-01 1              42     42
              04-03-02 1              42     42
              04-05-00 1              42     42
              04-05-01 1              42     42
              05-00-00 1              42     42
              05-00-01 1              42     42
              05-03-00 1              42     42
YORK ST       00-00-00 F              42     42
              00-00-01 F              42     42
              00-00-02 F              42     42
ZEREGA AV     00-00-00 6              42     42
              00-00-01 6              42     42
              00-03-00 6              42     42
              00-03-01 6              42     42
              00-05-00 6              42     42
              00-05-01 6              42     42

[4736 rows x 8 columns]

In [203]:
#View columns
#mta190504["C/A"].unique()

In [204]:
# mta190504["UNIT"].unique()

In [205]:
# mta190504["SCP"].unique()

In [206]:
# mta190504["STATION"].unique()

In [207]:
# mta190504["LINENAME"].unique()

In [208]:
# mta190504["DIVISION"].unique()

In [209]:
# mta190504_raw["DATE"].unique()

In [210]:
# for time in mta190504["TIME"].unique():
#     print(time)

# time is not always in standard intervals

In [211]:
# mta190504_raw["DESC"].unique()

In [212]:
#Check if differences in times between REGULAR and RECOVR AUD - no
# for time in mta190504.loc[mta190504["DESC"] == "RECOVR AUD","TIME"]:
#     print(time)

#time intervals are not standard

In [213]:
#check distribution of entries and exits for a given day over time
#check distributions for all the days

In [20]:
# Go from raw DF to new DF that will have rows dropped
mta190504 = mta190504_raw

# Create time_hour variable that simplifies time for later grouping purposes
mta190504["time_hour"] = pd.to_numeric(mta190504["TIME"].str[0:2])

In [21]:
# Sort before grouping
mta190504.sort_values(["C/A","UNIT","SCP","STATION","LINENAME","DIVISION","DATE","TIME","DESC"])

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,00:00:00,REGULAR,7035249,2384833,0
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,04:00:00,REGULAR,7035269,2384840,4
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,08:00:00,REGULAR,7035292,2384875,8
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,12:00:00,REGULAR,7035392,2384951,12
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,16:00:00,REGULAR,7035651,2385020,16
...,...,...,...,...,...,...,...,...,...,...,...,...
206852,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/03/2019,05:00:00,REGULAR,5554,376,5
206853,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/03/2019,09:00:00,REGULAR,5554,376,9
206854,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/03/2019,13:00:00,REGULAR,5554,376,13
206855,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/03/2019,17:00:00,REGULAR,5554,376,17
206856,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/03/2019,21:00:00,REGULAR,5554,376,21

In [22]:
# Create difference columns to calculate difference in entries and exits between the row and the row before (aka the time before)
mta190504["entries_diff"] = mta190504.groupby(["C/A","UNIT","SCP","STATION","LINENAME","DIVISION"]).ENTRIES.diff()
mta190504["exits_diff"] = mta190504.groupby(["C/A","UNIT","SCP","STATION","LINENAME","DIVISION"]).EXITS.diff()
mta190504["entries-exits"] = mta190504["entries_diff"] - mta190504["exits_diff"]
mta190504.describe()

,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
count,2.068570e+05,2.068570e+05,206857.000000,2.020060e+05,2.020060e+05,2.020060e+05
mean,4.057530e+07,3.319799e+07,10.517256,2.075907e+03,7.433828e+03,-5.357922e+03
std,2.082752e+08,1.926699e+08,6.806081,3.508686e+06,3.415174e+06,1.754742e+06
min,0.000000e+00,0.000000e+00,0.000000,-8.392517e+08,-3.843496e+08,-6.714099e+08
25%,3.495460e+05,1.413340e+05,4.000000,9.000000e+00,8.000000e+00,-2.500000e+01
50%,2.176408e+06,1.241604e+06,10.000000,7.200000e+01,5.200000e+01,1.000000e+00
75%,6.775342e+06,4.590174e+06,16.000000,2.390000e+02,1.660000e+02,9.700000e+01
max,2.129343e+09,2.124127e+09,23.000000,1.126553e+09,1.078346e+09,4.820644e+07

In [217]:
#mta190504.iloc[3270:3322]
mta190504.iloc[5790:5810]
#some entries go down - remove???

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
5790,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/27/2019,04:00:00,REGULAR,292712,23478,4,110.0,24.0,86.0
5791,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/27/2019,08:00:00,REGULAR,292737,23505,8,25.0,27.0,-2.0
5792,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/27/2019,12:00:00,REGULAR,292890,23616,12,153.0,111.0,42.0
5793,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/27/2019,16:00:00,REGULAR,293533,23710,16,643.0,94.0,549.0
5794,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/27/2019,20:00:00,REGULAR,294513,23793,20,980.0,83.0,897.0
5795,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/28/2019,00:00:00,REGULAR,299330,23810,0,4817.0,17.0,4800.0
5796,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/28/2019,04:00:00,REGULAR,299439,23813,4,109.0,3.0,106.0
5797,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/28/2019,08:00:00,REGULAR,299439,23813,8,0.0,0.0,0.0
5798,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/28/2019,20:00:00,REGULAR,460397,58,20,160958.0,-23755.0,184713.0
5799,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/29/2019,00:00:00,REGULAR,463403,179,0,3006.0,121.0,2885.0
5800,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/29/2019,04:00:00,REGULAR,467683,229,4,4280.0,50.0,4230.0
5801,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/29/2019,08:00:00,REGULAR,474054,255,8,6371.0,26.0,6345.0
5802,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/29/2019,12:00:00,REGULAR,474689,315,12,635.0,60.0,575.0
5803,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/29/2019,20:00:00,REGULAR,476765,384,20,2076.0,69.0,2007.0
5804,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/30/2019,00:00:00,REGULAR,477627,399,0,862.0,15.0,847.0
5805,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/30/2019,04:00:00,REGULAR,477664,405,4,37.0,6.0,31.0
5806,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/30/2019,08:00:00,REGULAR,477735,457,8,71.0,52.0,19.0
5807,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/30/2019,12:00:00,REGULAR,478238,536,12,503.0,79.0,424.0
5808,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/30/2019,16:00:00,REGULAR,479176,590,16,938.0,54.0,884.0
5809,A038,R085,00-06-00,8 ST-NYU,NRW,BMT,04/30/2019,20:00:00,REGULAR,480914,634,20,1738.0,44.0,1694.0

In [23]:
#keep only rows with positive entries and differences
mta190504= mta190504[mta190504.entries_diff > 0]
mta190504 = mta190504[mta190504.exits_diff > 0]
mta190504 = mta190504[mta190504.ENTRIES > 0]
mta190504.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165746 entries, 1 to 206772
Data columns (total 15 columns):
C/A              165746 non-null object
UNIT             165746 non-null object
SCP              165746 non-null object
STATION          165746 non-null object
LINENAME         165746 non-null object
DIVISION         165746 non-null object
DATE             165746 non-null object
TIME             165746 non-null object
DESC             165746 non-null object
ENTRIES          165746 non-null int64
EXITS            165746 non-null int64
time_hour        165746 non-null int64
entries_diff     165746 non-null float64
exits_diff       165746 non-null float64
entries-exits    165746 non-null float64
dtypes: float64(3), int64(3), object(9)
memory usage: 20.2+ MB

In [24]:
#NEED TO GROUP BY TIME_HOUR
#example of irregular time intervals - these should be grouped to equal intervals
mta190504.iloc[35:45]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits
36,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,00:00:00,REGULAR,7042880,2387242,0,250.0,41.0,209.0
37,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,04:00:00,REGULAR,7042893,2387244,4,13.0,2.0,11.0
38,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,08:00:00,REGULAR,7042924,2387333,8,31.0,89.0,-58.0
39,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,10:10:25,REGULAR,7042987,2387527,10,63.0,194.0,-131.0
40,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,11:40:35,REGULAR,7043035,2387571,11,48.0,44.0,4.0
41,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,12:00:00,REGULAR,7043049,2387579,12,14.0,8.0,6.0
42,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,16:00:00,REGULAR,7043403,2387631,16,354.0,52.0,302.0
43,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,20:00:00,REGULAR,7044206,2387674,20,803.0,43.0,760.0
45,A002,R051,02-00-01,59 ST,NQR456W,BMT,04/27/2019,04:00:00,REGULAR,6268275,1405762,4,11.0,3.0,8.0
46,A002,R051,02-00-01,59 ST,NQR456W,BMT,04/27/2019,08:00:00,REGULAR,6268287,1405775,8,12.0,13.0,-1.0

In [26]:
#create intervals: 01-04;05-08;09-12;13-16;17-20;21-00
#start with 01 instead of 00, assuming that most audits are on the hour so first element is inclusive and last element is exclusive
def time_interval(x):
    if x in [1,2,3,4]:
        return 1
    elif x in [5,6,7,8]:
        return 2
    elif x in [9,10,11,12]:
        return 3
    elif x in [13,14,15,16]:
        return 4
    elif x in [17,18,19,20]:
        return 5
    elif x in [21,22,23,0]:
        return 6

#perhaps identify stations near tech offices - need to map latitude/longitude

In [27]:
# create time period category
mta190504["time_cat"] = mta190504["time_hour"].apply(time_interval)
mta190504.head(50)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits,time_cat
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,04:00:00,REGULAR,7035269,2384840,4,20.0,7.0,13.0,1
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,08:00:00,REGULAR,7035292,2384875,8,23.0,35.0,-12.0,2
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,12:00:00,REGULAR,7035392,2384951,12,100.0,76.0,24.0,3
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,16:00:00,REGULAR,7035651,2385020,16,259.0,69.0,190.0,4
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/27/2019,20:00:00,REGULAR,7035930,2385070,20,279.0,50.0,229.0,5
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,00:00:00,REGULAR,7036100,2385087,0,170.0,17.0,153.0,6
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,04:00:00,REGULAR,7036119,2385088,4,19.0,1.0,18.0,1
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,08:00:00,REGULAR,7036125,2385103,8,6.0,15.0,-9.0,2
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,12:00:00,REGULAR,7036197,2385155,12,72.0,52.0,20.0,3
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,16:00:00,REGULAR,7036372,2385198,16,175.0,43.0,132.0,4
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/28/2019,20:00:00,REGULAR,7036621,2385240,20,249.0,42.0,207.0,5
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2019,00:00:00,REGULAR,7036746,2385256,0,125.0,16.0,109.0,6
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2019,04:00:00,REGULAR,7036754,2385260,4,8.0,4.0,4.0,1
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2019,08:00:00,REGULAR,7036789,2385385,8,35.0,125.0,-90.0,2
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2019,12:00:00,REGULAR,7036956,2385602,12,167.0,217.0,-50.0,3
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2019,16:00:00,REGULAR,7037250,2385661,16,294.0,59.0,235.0,4
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2019,20:00:00,REGULAR,7038042,2385732,20,792.0,71.0,721.0,5
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,00:00:00,REGULAR,7038242,2385765,0,200.0,33.0,167.0,6
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,04:00:00,REGULAR,7038261,2385769,4,19.0,4.0,15.0,1
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,08:00:00,REGULAR,7038308,2385866,8,47.0,97.0,-50.0,2
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,12:00:00,REGULAR,7038474,2386080,12,166.0,214.0,-48.0,3
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,16:00:00,REGULAR,7038775,2386147,16,301.0,67.0,234.0,4
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/30/2019,20:00:00,REGULAR,7039520,2386197,20,745.0,50.0,695.0,5
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/01/2019,00:00:00,REGULAR,7039729,2386229,0,209.0,32.0,177.0,6
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/01/2019,04:00:00,REGULAR,7039743,2386234,4,14.0,5.0,9.0,1
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/01/2019,08:00:00,REGULAR,7039801,2386327,8,58.0,93.0,-35.0,2
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/01/2019,12:00:00,REGULAR,7039966,2386534,12,165.0,207.0,-42.0,3
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/01/2019,16:00:00,REGULAR,7040303,2386599,16,337.0,65.0,272.0,4
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/01/2019,20:00:00,REGULAR,7041075,2386673,20,772.0,74.0,698.0,5
30,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/02/2019,00:00:00,REGULAR,7041303,2386712,0,228.0,39.0,189.0,6
31,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/02/2019,04:00:00,REGULAR,7041318,2386714,4,15.0,2.0,13.0,1
32,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/02/2019,08:00:00,REGULAR,7041356,2386810,8,38.0,96.0,-58.0,2
33,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/02/2019,12:00:00,REGULAR,7041532,2387060,12,176.0,250.0,-74.0,3
34,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/02/2019,16:00:00,REGULAR,7041854,2387121,16,322.0,61.0,261.0,4
35,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/02/2019,20:00:00,REGULAR,7042630,2387201,20,776.0,80.0,696.0,5
36,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,00:00:00,REGULAR,7042880,2387242,0,250.0,41.0,209.0,6
37,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,04:00:00,REGULAR,7042893,2387244,4,13.0,2.0,11.0,1
38,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,08:00:00,REGULAR,7042924,2387333,8,31.0,89.0,-58.0,2
39,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,10:10:25,REGULAR,7042987,2387527,10,63.0,194.0,-131.0,3
40,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,11:40:35,REGULAR,7043035,2387571,11,48.0,44.0,4.0,3
41,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,12:00:00,REGULAR,7043049,2387579,12,14.0,8.0,6.0,3
42,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,16:00:00,REGULAR,7043403,2387631,16,354.0,52.0,302.0,4
43,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/03/2019,20:00:00,REGULAR,7044206,2387674,20,803.0,43.0,760.0,5
45,A002,R051,02-00-01,59 ST,NQR456W,BMT,04/27/2019,04:00:00,REGULAR,6268275,1405762,4,11.0,3.0,8.0,1
46,A002,R051,02-00-01,59 ST,NQR456W,BMT,04/27/2019,08:00:00,REGULAR,6268287,1405775,8,12.0,13.0,-1.0,2
47,A002,R051,02-00-01,59 ST,NQR456W,BMT,04/27/2019,12:00:00,REGULAR,6268373,1405815,12,86.0,40.0,46.0,3
48,A002,R051,02-00-01,59 ST,NQR456W,BMT,04/27/2019,16:00:00,REGULAR,6268595,1405867,16,222.0,52.0,170.0,4
49,A002,R051,02-00-01,59 ST,NQR456W,BMT,04/27/2019,20:00:00,REGULAR,6268850,1405894,20,255.0,27.0,228.0,5
50,A002,R051,02-00-01,59 ST,NQR456W,BMT,04/28/2019,00:00:00,REGULAR,6268998,1405905,0,148.0,11.0,137.0,6
51,A002,R051,02-00-01,59 ST,NQR456W,BMT,04/28/2019,04:00:00,REGULAR,6269008,1405908,4,10.0,3.0,7.0,1

In [28]:
#group by dates
mta_dates = mta190504.groupby(["C/A","UNIT","SCP","STATION","LINENAME","DIVISION","DATE"])[["entries_diff","exits_diff","entries-exits"]].sum()

In [223]:
mta_dates.head(20)

                                                         entries_diff  \
C/A  UNIT SCP      STATION LINENAME DIVISION DATE
A002 R051 02-00-00 59 ST   NQR456W  BMT      04/27/2019         681.0
                                             04/28/2019         691.0
                                             04/29/2019        1421.0
                                             04/30/2019        1478.0
                                             05/01/2019        1555.0
                                             05/02/2019        1555.0
                                             05/03/2019        1576.0
          02-00-01 59 ST   NQR456W  BMT      04/27/2019         586.0
                                             04/28/2019         553.0
                                             04/29/2019        1164.0
                                             04/30/2019        1205.0
                                             05/01/2019        1275.0
                                             05/02/2019        1258.0
                                             05/03/2019        1243.0
          02-03-00 59 ST   NQR456W  BMT      04/27/2019         296.0
                                             04/28/2019         295.0
                                             04/29/2019         513.0
                                             04/30/2019         486.0
                                             05/01/2019         513.0
                                             05/02/2019         501.0

                                                         exits_diff  \
C/A  UNIT SCP      STATION LINENAME DIVISION DATE
A002 R051 02-00-00 59 ST   NQR456W  BMT      04/27/2019       237.0
                                             04/28/2019       170.0
                                             04/29/2019       492.0
                                             04/30/2019       465.0
                                             05/01/2019       476.0
                                             05/02/2019       528.0
                                             05/03/2019       473.0
          02-00-01 59 ST   NQR456W  BMT      04/27/2019       135.0
                                             04/28/2019       122.0
                                             04/29/2019       279.0
                                             04/30/2019       248.0
                                             05/01/2019       284.0
                                             05/02/2019       300.0
                                             05/03/2019       300.0
          02-03-00 59 ST   NQR456W  BMT      04/27/2019      1059.0
                                             04/28/2019       947.0
                                             04/29/2019      1990.0
                                             04/30/2019      1968.0
                                             05/01/2019      2121.0
                                             05/02/2019      2230.0

                                                         entries-exits
C/A  UNIT SCP      STATION LINENAME DIVISION DATE
A002 R051 02-00-00 59 ST   NQR456W  BMT      04/27/2019          444.0
                                             04/28/2019          521.0
                                             04/29/2019          929.0
                                             04/30/2019         1013.0
                                             05/01/2019         1079.0
                                             05/02/2019         1027.0
                                             05/03/2019         1103.0
          02-00-01 59 ST   NQR456W  BMT      04/27/2019          451.0
                                             04/28/2019          431.0
                                             04/29/2019          885.0
                                             04/30/2019          957.0
                                             05/01/2019          991.0
                                             05/02/2019          958.0
                                             05/03/2019          943.0
          02-03-00 59 ST   NQR456W  BMT      04/27/2019         -763.0
                                             04/28/2019         -652.0
                                             04/29/2019        -1477.0
                                             04/30/2019        -1482.0
                                             05/01/2019        -1608.0
                                             05/02/2019        -1729.0

In [29]:
#group by time category and dates
mta_dates_time_cat = mta190504.groupby(["C/A","UNIT","SCP","STATION","LINENAME","DIVISION","DATE","time_cat"])[["entries_diff","exits_diff","entries-exits"]].sum()

In [30]:
mta_station_date = mta190504.groupby(["C/A","UNIT","STATION","LINENAME","DIVISION","DATE"])[["entries_diff","exits_diff","entries-exits"]].sum()
mta_station_date.head(20)

                                                   entries_diff  exits_diff  \
C/A  UNIT STATION    LINENAME DIVISION DATE
A002 R051 59 ST      NQR456W  BMT      04/27/2019        6765.0      4097.0
                                       04/28/2019        6708.0      3852.0
                                       04/29/2019       12314.0      8074.0
                                       04/30/2019       13168.0      8274.0
                                       05/01/2019       13882.0      8479.0
                                       05/02/2019       13881.0      8581.0
                                       05/03/2019       13595.0      8532.0
A006 R079 5 AV/59 ST NQRW     BMT      04/27/2019        6244.0      4803.0
                                       04/28/2019        4520.0      3311.0
                                       04/29/2019       11455.0      8257.0
                                       04/30/2019       11914.0      8723.0
                                       05/01/2019       12008.0      8557.0
                                       05/02/2019       12645.0      9027.0
                                       05/03/2019       11846.0      8581.0
A007 R079 5 AV/59 ST NQRW     BMT      04/27/2019        3240.0      3141.0
                                       04/28/2019        2387.0      1978.0
                                       04/29/2019        3985.0      3248.0
                                       04/30/2019        4087.0      3203.0
                                       05/01/2019        4139.0      3344.0
                                       05/02/2019        4579.0      3706.0

                                                   entries-exits
C/A  UNIT STATION    LINENAME DIVISION DATE
A002 R051 59 ST      NQR456W  BMT      04/27/2019         2668.0
                                       04/28/2019         2856.0
                                       04/29/2019         4240.0
                                       04/30/2019         4894.0
                                       05/01/2019         5403.0
                                       05/02/2019         5300.0
                                       05/03/2019         5063.0
A006 R079 5 AV/59 ST NQRW     BMT      04/27/2019         1441.0
                                       04/28/2019         1209.0
                                       04/29/2019         3198.0
                                       04/30/2019         3191.0
                                       05/01/2019         3451.0
                                       05/02/2019         3618.0
                                       05/03/2019         3265.0
A007 R079 5 AV/59 ST NQRW     BMT      04/27/2019           99.0
                                       04/28/2019          409.0
                                       04/29/2019          737.0
                                       04/30/2019          884.0
                                       05/01/2019          795.0
                                       05/02/2019          873.0

In [31]:
mta_station = mta190504.groupby(["STATION"])[["entries_diff","exits_diff","entries-exits"]].sum().sort_values("entries_diff", ascending=False)
mta_station

                 entries_diff    exits_diff  entries-exits
STATION
ST. GEORGE       1.126554e+09  1.078346e+09     48207240.0
BURNSIDE AV      6.065936e+08  1.008265e+09   -401671798.0
TWENTY THIRD ST  1.854775e+06  2.614257e+07    -24287798.0
34 ST-PENN STA   1.023199e+06  9.224320e+05       100767.0
GRD CNTRL-42 ST  8.811170e+05  7.697670e+05       111350.0
...                       ...           ...            ...
BEACH 44 ST      4.546000e+03  5.130000e+03         -584.0
ROCKAWAY PARK B  4.014000e+03  4.557000e+03         -543.0
BEACH 98 ST      2.869000e+03  2.781000e+03           88.0
BROAD CHANNEL    1.786000e+03  5.240000e+02         1262.0
BEACH 105 ST     1.309000e+03  1.424000e+03         -115.0

[376 rows x 3 columns]

In [227]:
mta190504[mta190504["STATION"] == "ST. GEORGE"].sort_values("entries_diff", ascending = False)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits,time_cat
205743,S101A,R070,01-00-03,ST. GEORGE,1,SRT,05/02/2019,16:00:00,REGULAR,1129054485,1078346838,16,1.126553e+09,1.078346e+09,48206437.0,4
204976,S101,R070,00-00-01,ST. GEORGE,1,SRT,05/03/2019,12:00:00,REGULAR,1239716,228,12,2.110000e+02,3.000000e+00,208.0,3
205086,S101,R070,00-00-03,ST. GEORGE,1,SRT,05/03/2019,12:00:00,REGULAR,943060,85,12,1.550000e+02,1.000000e+00,154.0,3
205361,S101,R070,00-00-08,ST. GEORGE,1,SRT,05/03/2019,12:00:00,REGULAR,2332451,9196,12,1.490000e+02,9.000000e+00,140.0,3
205196,S101,R070,00-00-05,ST. GEORGE,1,SRT,05/03/2019,12:00:00,REGULAR,591983,37,12,1.390000e+02,1.000000e+00,138.0,3
204921,S101,R070,00-00-00,ST. GEORGE,1,SRT,05/03/2019,12:00:00,REGULAR,1377706,252,12,5.200000e+01,1.000000e+00,51.0,3
205874,S101A,R070,01-00-06,ST. GEORGE,1,SRT,05/03/2019,12:00:00,REGULAR,1918022,358,12,4.300000e+01,2.000000e+00,41.0,3
205332,S101,R070,00-00-08,ST. GEORGE,1,SRT,04/30/2019,16:00:00,REGULAR,2331353,9187,16,2.800000e+01,1.000000e+00,27.0,4
205320,S101,R070,00-00-08,ST. GEORGE,1,SRT,04/28/2019,20:00:00,REGULAR,2330635,9183,20,2.600000e+01,1.000000e+00,25.0,5
205318,S101,R070,00-00-08,ST. GEORGE,1,SRT,04/28/2019,12:00:00,REGULAR,2330597,9182,12,1.700000e+01,1.000000e+00,16.0,3
205321,S101,R070,00-00-08,ST. GEORGE,1,SRT,04/29/2019,00:00:00,REGULAR,2330641,9186,0,6.000000e+00,3.000000e+00,3.0,6

In [32]:
#St George
mta190504.iloc[205735:205755]

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, time_hour, entries_diff, exits_diff, entries-exits, time_cat]
Index: []

In [33]:
mta190504[mta190504["STATION"] == "TWENTY THIRD ST"].sort_values("entries_diff", ascending = False)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits,time_cat
121332,PTH12,R542,00-04-00,TWENTY THIRD ST,1,PTH,04/30/2019,17:48:46,REGULAR,113436,2000750,17,94944.0,1376094.0,-1281150.0,5
121330,PTH12,R542,00-04-00,TWENTY THIRD ST,1,PTH,04/30/2019,13:36:46,REGULAR,113376,2000296,13,94888.0,1375799.0,-1280911.0,4
121328,PTH12,R542,00-04-00,TWENTY THIRD ST,1,PTH,04/30/2019,09:24:46,REGULAR,113362,1999342,9,94874.0,1376261.0,-1281387.0,3
121326,PTH12,R542,00-04-00,TWENTY THIRD ST,1,PTH,04/30/2019,05:12:46,REGULAR,113350,1997397,5,94863.0,1374499.0,-1279636.0,2
121324,PTH12,R542,00-04-00,TWENTY THIRD ST,1,PTH,04/30/2019,01:00:46,REGULAR,113331,1997374,1,94848.0,1374486.0,-1279638.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121404,PTH12,R542,00-04-02,TWENTY THIRD ST,1,PTH,04/29/2019,06:57:53,REGULAR,33605,848355,6,1.0,104.0,-103.0,2
121376,PTH12,R542,00-04-01,TWENTY THIRD ST,1,PTH,05/01/2019,10:37:26,REGULAR,49450,1007524,10,1.0,2068.0,-2067.0,3
121201,PTH12,R542,00-00-02,TWENTY THIRD ST,1,PTH,05/02/2019,05:29:41,REGULAR,165370,2948,5,1.0,1.0,0.0,2
121230,PTH12,R542,00-00-03,TWENTY THIRD ST,1,PTH,04/30/2019,05:35:52,REGULAR,959577,38466,5,1.0,12.0,-11.0,2
121405,PTH12,R542,00-04-02,TWENTY THIRD ST,1,PTH,04/29/2019,11:09:53,REGULAR,33606,850168,11,1.0,1813.0,-1812.0,3

In [34]:
import datetime

In [39]:
 st_george = mta190504[mta190504["STATION"] == "ST. GEORGE"].sort_values("entries_diff", ascending = False)

In [50]:
 burnside = mta190504[mta190504["STATION"] == "BURNSIDE AV"].sort_values("entries_diff", ascending = False)
burnside

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits,time_cat
169823,R287,R244,00-05-00,BURNSIDE AV,4,IRT,04/30/2019,12:00:00,REGULAR,607125572,1008468266,12,606531103.0,1.008231e+09,-401699886.0,3
169674,R287,R244,00-00-00,BURNSIDE AV,4,IRT,04/29/2019,08:00:00,REGULAR,1912583,1129917,8,749.0,8.800000e+01,661.0,2
169731,R287,R244,00-00-01,BURNSIDE AV,4,IRT,04/30/2019,12:00:00,REGULAR,7202,2929,12,736.0,2.020000e+02,534.0,3
169772,R287,R244,00-00-02,BURNSIDE AV,4,IRT,04/29/2019,08:00:00,REGULAR,500116,151847,8,730.0,4.600000e+01,684.0,2
169723,R287,R244,00-00-01,BURNSIDE AV,4,IRT,04/29/2019,08:00:00,REGULAR,3995,1815,8,710.0,5.700000e+01,653.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169778,R287,R244,00-00-02,BURNSIDE AV,4,IRT,04/30/2019,04:00:00,REGULAR,501772,152414,4,15.0,3.400000e+01,-19.0,1
169891,R287,R244,00-06-00,BURNSIDE AV,4,IRT,05/03/2019,04:00:00,REGULAR,218903,230851,4,14.0,9.900000e+01,-85.0,1
169876,R287,R244,00-06-00,BURNSIDE AV,4,IRT,05/01/2019,04:00:00,REGULAR,215919,228011,4,14.0,1.120000e+02,-98.0,1
169870,R287,R244,00-06-00,BURNSIDE AV,4,IRT,04/30/2019,04:00:00,REGULAR,214416,226598,4,10.0,3.700000e+01,-27.0,1
169822,R287,R244,00-05-00,BURNSIDE AV,4,IRT,04/30/2019,04:00:00,REGULAR,594469,237277,4,4.0,1.600000e+01,-12.0,1

In [74]:
st_george1 = st_george.iloc[1:]
ent_mean_st=st_george1[["entries_diff"]].mean()
ent_mean_st.values[0]

82.6

In [79]:
ext_mean_st=st_george1[["exits_diff"]].mean()
ext_mean_st.values[0]

2.3

In [75]:
mta190504.loc[205743:205744,'entries_diff'] = ent_mean_st.values[0]

In [76]:
mta190504.loc[205743:205744]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits,time_cat
205743,S101A,R070,01-00-03,ST. GEORGE,1,SRT,05/02/2019,16:00:00,REGULAR,1129054485,1078346838,16,82.6,1.078346e+09,48206437.0,4

In [80]:
mta190504.loc[205743:205744,'entries_diff'] = ent_mean_st.values[0]
mta190504.loc[205743:205744,'exits_diff'] = ext_mean_st.values[0]

In [81]:
mta190504.loc[205743:205744]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits,time_cat
205743,S101A,R070,01-00-03,ST. GEORGE,1,SRT,05/02/2019,16:00:00,REGULAR,1129054485,1078346838,16,82.6,2.3,48206437.0,4

In [82]:
burnside1 = burnside.iloc[1:]
ent_mean_brn=burnside1[["entries_diff"]].mean()
ent_mean_brn.values[0]

269.17241379310343

In [83]:
ext_mean_brn=burnside1[["exits_diff"]].mean()
ext_mean_brn.values[0]

148.10344827586206

In [85]:
mta190504.loc[169823:169824]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,time_hour,entries_diff,exits_diff,entries-exits,time_cat
169823,R287,R244,00-05-00,BURNSIDE AV,4,IRT,04/30/2019,12:00:00,REGULAR,607125572,1008468266,12,606531103.0,1.008231e+09,-401699886.0,3
169824,R287,R244,00-05-00,BURNSIDE AV,4,IRT,04/30/2019,16:00:00,REGULAR,607126112,1008468493,16,540.0,2.270000e+02,313.0,4

In [86]:
mta190504.loc[169823:169824,'entries_diff'] = ent_mean_brn.values[0]
mta190504.loc[169823:169824,'exits_diff'] = ext_mean_brn.values[0]

In [87]:
mta_station = mta190504.groupby(["STATION"])[["entries_diff","exits_diff","entries-exits"]].sum().sort_values("entries_diff", ascending=False)
mta_station

                 entries_diff  exits_diff  entries-exits
STATION
TWENTY THIRD ST     1854775.0  26142573.0    -24287798.0
34 ST-PENN STA      1023199.0    922432.0       100767.0
GRD CNTRL-42 ST      881117.0    769767.0       111350.0
34 ST-HERALD SQ      703365.0    661376.0        41989.0
23 ST                666245.0    465315.0       200930.0
...                       ...         ...            ...
ROCKAWAY PARK B        4014.0      4557.0         -543.0
BEACH 98 ST            2869.0      2781.0           88.0
BROAD CHANNEL          1786.0       524.0         1262.0
BEACH 105 ST           1309.0      1424.0         -115.0
ST. GEORGE              908.6        25.3     48207240.0

[376 rows x 3 columns]